/******** Author ********/

@font-face{
   font-family: Narziss;
   src:url(./fonts/narziss-webfont.eof);
   src:url(./fonts/narziss-webfont.eot?#iefix) format("embedded-opentype"),url(./fonts/narziss-webfont.woff2) format("woff2"),url(./fonts/narziss-webfont.woff) format("woff"),url(./fonts/narziss-webfont.ttf) format("truetype"),url(./fonts/narziss-webfont.svg#narzissregularregular) format("svg");
   font-weight:400;
   font-style:normal;
}

@CHARSET "UTF-8";


html { 
  font-size:16px;
}

* {
  outline:none !important; 
  -webkit-box-sizing:border-box;
  -moz-box-sizing:border-box;
  -o-box-sizing:border-box;
  box-sizing:border-box;
}

img { max-width:100%; }

a, a.active, a:hover, a:focus {
  text-decoration:none;
}

i { font-style: italic; }

/********************************************************************
	PRELOAD 
*********************************************************************/
/* body:before { */
/*     content: url('../img/background2.jpg') no-pro */
/* 		    url(../img/yyy.jpg) no-pro */
/* 		    url(../img/zzz.png);no-pro */
/*     display:none; */
/* } */

/********************************************************************
	FONTS
*********************************************************************/

body, .source-pro { font-family:'Source Sans Pro', sans-serif; font-weight:400; }
.montserrat { font-family: 'Montserrat', sans-serif; font-weight:400;}
.source-pro { font-family:'Source Sans Pro', sans-serif; font-weight:400; }
.lobster { font-family: 'Lobster Two', cursive; font-weight:400; }
.arapey { font-family: 'Arapey', serif;}
.narzissregular { font-family: 'Narziss', 'Arapey', serif; -webkit-font-smoothing: antialiased;}

.fz08 { font-size:0.8em;}
.fz09 { font-size:0.9em;}
.fz12 { font-size:1.2em;}
.fz15 { font-size:1.5em;}
.fz18 { font-size:1.8em;}

/********************************************************************
	SHORTCODES
*********************************************************************/

.m-no{ margin:0;}
.m-big-top{ margin-top:8rem;}
.m-big-bottom{ margin-bottom:8rem;}
.m-medium { margin-top:3rem; margin-bottom:3rem;}
.m-medium-top{ margin-top:3rem;}
.m-medium-bottom{ margin-bottom:3rem;}
.m-medium-sides {margin-left: 3rem; margin-right: 3rem;}
.m-small{ margin-top:1rem; margin-bottom:1rem;}
.m-small-top{ margin-top:1rem;}
.m-small-bottom{ margin-bottom:1rem;}
.m-small-sides {margin-left: 1rem; margin-right: 1rem;}

.m-medium-left {margin-left: 3rem;}

.m-neg-top {margin-top:-7rem;}

.p-no {padding:0;}
.p-big {padding-top:8rem;padding-bottom:8rem;}
.p-medium {padding-top:3rem;padding-bottom:3rem;}
.p-small {padding-top:1rem;padding-bottom:1rem;}
.p-small-all {padding:1rem;}
.p-big-top {padding-top:8rem;}
.p-medium-top {padding-top:3rem;}
.p-small-top {padding-top:1rem;}
.p-big-bottom {padding-bottom:8rem;}
.p-medium-bottom {padding-bottom:3rem;}
.p-small-bottom {padding-bottom:1rem;}
.p-medium-sides {padding-left: 3rem; padding-right: 3rem;}
.p-small-sides {padding-left: 1rem; padding-right: 1rem;}

.uppercase { text-transform:uppercase; }
.bold { font-weight:900; }
.absolute { position:absolute; }
.relative { position: relative; }
.clear { clear:both; }

.referer {
  display:inline-block;
  position:relative;
}
.referer .replace {
  height:100%;
  left:0;
  position:absolute;
  top:0;
  width:100%;
}

.pointer { cursor:pointer; }

.clear { clear:both;}

.t1s {
  -o-transition: 1s;
  -moz-transition: 1s;
  -webkit-transition: 1s;
  transition: 1s;
}

.t05s {
  -o-transition: 0.5s;
  -moz-transition: 0.5s;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}


/********************************************************************
	COLORS
*********************************************************************/

body {
  background:#fff;
  font-size:1rem;
  color:#555;
  position:relative;
}

/* Text */
.white, .white:hover {color:#fff; color:#fff !important;}
.black, .black:hover {color:#000; color:#000 !important; }
.pink, pink:hover {color:#d92b70; color:#d92b70 !important; }

/* Backgrounds */
.bckgd-black-s {background:#222;}
.bckgd-lightgrey-s {background:#ececec;}
.bckgd-pink-s {background:#d92b70;}
.bckgd-white-s {background:#fff;}

.bckgd-lightgrey-s hr {border-color:#dedede;}

/********************************************************************
	GLOBAL
*********************************************************************/
.h1 { font-size:4rem; }

h2, .h2 { 
  color:#000;
  font-family:'Narziss', 'Arapey', serif;
  font-size:3rem;
  font-weight:400;
  letter-spacing:2px; 
  line-height:0.8;
}

h3, .h3 { font-size:2rem; }

h4, .h4 { font-size:1.6rem; }

.spaced { letter-spacing:0.8; }

.hyphen {
  border-bottom:0.4rem solid black;
  display:inline-block;
  width:2rem;
}

.hyphen-smaller {
  border-bottom:0.3rem solid black;
  display:inline-block;
  width:1.1rem;
}

.hyphen.pink,
.hyphen-smaller.pink {
  border-color:#d92b70;
}

.quote-icon {
  display: inline-block;
  height: 1.6rem;
  margin:0 0.4rem;
  position:relative;
  width: 2rem;
}

.quote-icon img {
  left:0;
  position:absolute;
  top:-0.2rem;
  width:2rem;
}

.bordered-pink { border:1px solid #d92b70 ;}
.bordered-blue { border:1px solid #25BEA7 ;}
.bordered-grey-top { border-top: 1px solid #ddd ;}

.cut-slash {
  bottom: -0.5rem;
  height: 100px;
  position: absolute;
  right: -1.3rem;
}

.cut-slash.left { 
  left: -1.3rem; 
  right:auto; 
}

/** Btn **/
.btn-custom { 
  background:#fff;
  border:1px solid #000;
  -o-border-radius:0;
  -moz-border-radius:0;
  -webkit-border-radius:0;
  border-radius:0;
  box-shadow:none;
  color:#000;
  font-family:montserrat;
  font-size:0.8em;
  text-transform:uppercase;
  padding:10px 25px;
}

.btn-custom:hover,
.btn-custom:focus,
.btn-custom:active { 
  background:#ececec;
  color:#000;
} 

.btn-custom.big-pink {
  background:#d92b70;
  border-color:#fff;
  color:#fff;
  padding:20px 25px;
} 

/** Navbar **/

.navbar {
  background:#fff;
  font-family: 'Montserrat', sans-serif;
  font-size:0.8rem; 
  letter-spacing:0.8;
  text-transform: uppercase;
}

.navbar-brand {
  height: 6.5rem;
  padding:0;
}

.navbar-brand img { height: 115px; }

.navbar-default .nav>li>a {
    min-height: 6.5rem;
    margin: 0 1.2rem;
    padding: 3.5rem 0 0rem 0;
}

.navbar-default .navbar-nav>li>a { color:#000;}

.navbar-default .navbar-nav>li.active>a,
.navbar-default .navbar-nav>.active>a:hover, 
.navbar-default .navbar-nav>.active>a:focus {
  background:#fff;
  border-bottom:5px solid #d92b70;
  color:#000;
  font-weight: 600;
}

.navbar-default .nav>li.social { background-color:#ececec; }
.navbar-default .nav>li.social a { margin:0 1rem; }

/** First section **/

.home-section {
  background: #333 url(../img/pictures/cover_lite.jpg);
  background-position:center center;
  background-size:cover;
  position:relative;
}

.home-section .delayed-show {
  opacity:0;
}

.home-section .split {
  background: transparent url(../img/pictures/cover_split_lite.png);
  background-position: right center;
  background-size:cover;
  height:100%;
  left:0;  
  position:absolute;
  top:0;
  width:50%;
  z-index:100;
}

.home-section.delayed-show .mask {
  opacity:1;
}

.home-section .logo {
  margin-left:-100px;
  position:relative;
  z-index:101;
}

.home-section .home-quote {
  background:rgba(0,0,0,0.6);
  margin-left:auto;
  margin-right:auto;
  padding:1.5rem 3rem 0.5rem 14rem;
  position:relative;
  width:100%;
  max-width:50rem;
  z-index:10;
}

.home-section .home-bullet { 
  position:relative;
  z-index:101; 
}

.home-section .spacer10 {  min-height:10%; }
.home-section .spacer20 {  min-height:20%; }

  
/** References - Portfolio **/

.references { border: 4px solid #222; }

.portfolio {
  background:#555;
  background-size:cover;
  background-position:center center;
  cursor:pointer;
  display:block;
  padding-top:100%;
  position:relative;
  overflow:hidden;
}

.portfolio .mask {
  border: 4px solid #222;
  display:block; 
  height:100%;
  left:0;
  position:absolute;
  top:0;
  width:100%;
   
  -o-transition: 0.5s;
  -moz-transition: 0.5s;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.portfolio:hover .mask {
  background:rgba(0,0,0,0.6);
  border-color:#d92b70;
}

.portfolio .content {
  color:#fff;
  height:100px;
  left:50%;
  margin-left:-100px;
  margin-top:-50px;
  position:absolute;
  top:150%;
  width:200px;
  
  -o-transition: 0.5s;
  -moz-transition: 0.5s;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.portfolio:hover .content {
  top:50%;
}

.portfolio .content .hyphen-smaller { border-color:#fff; }

/** Zoom - Portfolio **/

.anchor-zoom { 
  float:left;
  width:100%;
}

.zoom {
  background-color: #FFF;
  float: left;
  height: 0;
  max-height: 0;
  width: 100%;
  
  -webkit-transition: -webkit-transition: all 0.5s; /* Safari */
  transition: all 0.5s;
  -webkit-transition-delay:0.8s;
  transition-delay:0.8s;
}

.zoom.active {
  height: auto;  
  max-height:2500px;

  -webkit-transition-delay:0s;
  transition-delay:0s;
}

.zoom > div { 
  opacity: 0;
  filter: alpha(opacity=0);
  overflow:hidden;
  -webkit-transition: -webkit-transition: all 0.2s;
  transition: all 0.2s;
  -webkit-transition-delay:0s;
  transition-delay:0s;
}

.zoom.active > div {
  opacity: 1;
  filter: alpha(opacity=100);
  -webkit-transition: -webkit-transition: all 0.2s;
  transition: all 0.2s;
  -webkit-transition-delay:0.5s;
  transition-delay:0.5s;
}

.zoom .zoom-close { 
  margin:15px auto 0 auto;
  position:relative;
  max-width:120px;
  z-index:10;
}

.zoom .carousel-controls {
  left:0;
  position:absolute;
  top:0;
  width:100%;
  z-index:1;
}

.zoom iframe { background:#555; }

/** Contact section  **/

.contact-section {
  overflow:hidden;
}

.map-background {
  background: #ececec;
  background-position:top center;
  background-size:cover;
}

.map {
  height:100%;
  left:0;
  position:absolute;
  top:0;
  width:100%;
}

.form-light input,
.form-light textarea {
  border:none;
  border-bottom:1px solid #ddd;
  border-radius:0;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.form-light input:focus,
.form-light textarea:focus {
  border-color: #d92b70;
  outline: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.form-light .alert {
  border-radius:0;
  padding:2px 5px;
}

.second-name {
  height:0;
  margin:0;
  opacity:0;
  overflow:hidden;
  visibility:none;
}

.skew-shape {
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;   
  width: 100%;
  z-index: 0;
}

.z-top {
  position:relative;
  z-index: 1;
}

.box-shadowed {
  -webkit-box-shadow: 2px 2px 3px #bbb;
  box-shadow: 2px 2px 3px #bbb;
}

/** Modal **/

.modal-video .modal-content, 
.modal-video .modal-header {
  background:transparent;
  border:none;
  border-radius:0;
  box-shadow:none;
  padding-bottom:20px;
}

.modal-video .close {
  color:#fff;
  opacity:0.8;
  text-shadow:none;
}

.modal-backdrop.in { 
  filter: alpha(opacity=50);
  opacity:0.8;
 }


/********************************************************************
	NOPROD
*********************************************************************/


@media (min-width: 768px) {
  .skew-shape {
      -o-transform: skewX(-20deg);
      -moz-transform: skewX(-20deg);
      -webkit-transform: skewX(-20deg);
      transform: skewX(-20deg);
  }
    
  h2, .h2 { 
    font-size:4rem;
  }
  .cut-slash { height:auto; }
  
  .anchor-zoom {
    position:absolute;
    top:0;
    width:0;
  }
  
  .zoom {
    background-color: #FFF;
    bottom: 48%;
    height: 0%;
    left: 2%;
    overflow:hidden;
    position: absolute;
    width: 96%; 
    
    -webkit-transition: -webkit-transition: all 0.5s; /* Safari */
    transition: all 0.5s;
    -webkit-transition-delay:0.8s;
    transition-delay:0.8s;
  }
  
  .zoom.active {
    bottom: 2%;
    height:96%;
    opacity: 1;
    filter: alpha(opacity=100);
    -webkit-transition-delay:0s;
    transition-delay:0s;
  }
  
  .zoom > div { 
    opacity: 0;
    filter: alpha(opacity=0);
    overflow:hidden;
    -webkit-transition: -webkit-transition: all 0.2s;
    transition: all 0.2s;
    -webkit-transition-delay:0s;
    transition-delay:0s;
  }
  
  .zoom.active > div {
    opacity: 1;
    filter: alpha(opacity=100);
    -webkit-transition: -webkit-transition: all 0.2s;
    transition: all 0.2s;
    -webkit-transition-delay:0.5s;
    transition-delay:0.5s;
  }
  
  .zoom .carousel-controls  {top:40px;}
  
  .zoom .scroll-zoom-content {
    max-height:485px;
    overflow-y:scroll;
  }
  
  .map-background {
    background-image: url(../img/pictures/map_background.jpg);
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  .navbar-default .navbar-nav>li>a {
    font-size:0.7rem;
    margin: 0 0.7rem;
  }
  .zoom .zoom-close { 
    position: absolute;
    top: 0;
    right: 10px; 
   }
}

@media (min-width: 1200px) {
  .home-section .home-bullet { 
    bottom:10px;
    left:50%;
    margin-left:-50px;
    position:absolute;
  }
  .zoom .zoom-close { 
    position: absolute;
    top: 0;
    right: 10px; 
   }
   .zoom .scroll-zoom-content { max-height:615px; }
}

@media (min-width: 768px) and (max-width:991px) {
    .navbar-header {
        float: none;
    }
    .navbar-left,.navbar-right {
        float: none !important;
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }
    .navbar-fixed-top {
        top: 0;
        border-width: 0 0 1px;
    }
    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-nav {
        float: none!important;
        margin-top: 7.5px;
    }
    .navbar-nav>li {
        float: none;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .collapse.in{
        display:block !important;
    } 
}

@media (max-width: 991px) {
  
  p, h2, .text-left, .text-right { text-align:center !important;}
  
  .nav { text-align:center; }
  .navbar-brand { height:50px;}
  .navbar-brand img { height:55px;}
  .container>.navbar-collapse { float:none!important;}
  .navbar-default .nav>li>a {
    min-height:0;
    margin:0;
    padding:10px 5px;
    text-align:center;
    width:100%;
  }
  .navbar-default .nav>li.social {
    display:inline-block;
    margin-top:10px 0 0 0;
    padding:5px;
  }
  .navbar-default .nav>li.social a { margin:0; }
  
  .home-section { height:auto;}
  .home-section .logo { margin:0;}
   { min-height:10px;}
  .home-section .home-quote {
    margin-left: auto;
    margin-right: auto;
    padding: 2rem;
    position: relative;
    width: 100%;
  }
  .spacer10, .spacer20, .split {display:none;}
  .zoom .carousel-controls img  {width:25px;}
  .portfolio .content {font-size: 13px;}
  
  .tools-section { font-size:12px;}
  
  .animated {
    -webkit-animation-duration: 0s;
    animation-duration: 0s;
    -webkit-animation-fill-mode: none;
    animation-fill-mode: none;
  }
  
  .navbar-fixed-top .navbar-collapse, .navbar-fixed-bottom .navbar-collapse { max-height: 350px; }
}



/********************************************************************
	NOPROD
*********************************************************************/

/* responsive ? */

